<!DOCTYPE html>
<head>
  <title>Hooks n' Stuff</title>
  <meta
    name="google-signin-client_id"
    content='<%= ENV['GOOGLE_CLIENT_ID'] %>'
  />
  <script src="https://apis.google.com/js/platform.js"></script>
</head>

<body>
  <div id="root"></div>
  <script src="bundle.js"></script>
</body>
